html,
body {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.index,
.questions {
  width: 500px;
}

.questions .mb-3 {
  border-left: solid gainsboro;
  padding-left: 15px;
}

.questions #buttonSubmit {
  padding-top: 20px;
}

.questions #outputRange {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.questions #submitQuestions {
  width: 100px;
}

.questions #selectColumns {
  width: 50%;
}

img {
  width: 100%;
  height: auto;
}

.col col-lg-2 {
  margin: 100px;
}