html,
body {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.index, .questions {
  width: 500px;
}

.questions .mb-3 {
  border-left: solid gainsboro;
  padding-left: 15px;
}

.questions #buttonSubmit {
  padding-top: 20px;
}

.questions #outputRange {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.questions #submitQuestions {
  width: 100px;
}

.questions .valueSupressionRow, #selectColumns {
  width: 50%;
}
