{% extends 'base.html' %}

{% block content %}
<div class="index">
  <form action="/uploader" method=post enctype=multipart/form-data>
    <div class="mb-3">
      <div class="row">
        <label for="formFile" class="form-label">Insira arquivo excel a ser tratado</label>
      </div>
      <div class="row">
        <div class="col-10">
          <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}