{% extends 'base.html' %}

{% block content %}
<div class="questions">
    <form action="/process" method=POST>
        <nav class="accordion arrows">
            <header class="box">
                <label for="acc-close" class="box-title">Anonimização de Dados</label>
                <button type="submit"><u>SUBMETER</u></button>
            </header>
            <input type="radio" name="accordion" id="cb1" />
            <section class="box">
                <label class="box-title" for="cb1">Supressão de Valor</label>
                <label class="box-close" for="acc-close"></label>
                <div class="box-content">
                    <input type="text" class="inp" id="suppressedValue" name="suppressedValue"
                        placeholder="Elemento Suprimido" autofocus>
                    <br>
                    <p>
                        <span>Refere-se a remoção ou a substituição de todas as instâncias de um valor de um atributo
                            por
                            um valor especial.</span>
                    </p>
                </div>
            </section>
            <input type="radio" name="accordion" id="cb2" />
            <section class="box">
                <label class="box-title" for="cb2">Generalização de Domínio Completo</label>
                <label class="box-close" for="acc-close"></label>
                <div class="box-content">
                    <div class="row">
                        <div class="col">
                            <select id="genericColumn" name="genericColumn" class="inp">
                                <option disabled>Atributo Generalizado</option>
                                {% for column in columns %}
                                <option value="{{ column }}">{{ column }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" name="genericValue" id="genericValue" class="inp"
                                placeholder="Valor Generalizador">
                        </div>
                    </div>
                    <br>
                    <p>
                        <span>Nesse esquema, todos os valores em um atributo são generalizados para o mesmo nível da
                            taxonomia da árvore.</span>
                    </p>

                </div>
            </section>
            <input type="radio" name="accordion" id="cb3" />
            <section class="box">
                <label class="box-title" for="cb3">Geração de Dados Sintéticos</label>
                <label class="box-close" for="acc-close"></label>
                <div class="box-content">
                    <div class="row">
                        <div class="col-11">
                            <div id="noiseInput">
                                <input type="range" class="form-range" id="customRange" name="amountRange"
                                    oninput="this.form.amountInput.value=this.value" value="0">
                            </div>
                        </div>
                        <div class="col-1">
                            <input type="number" name="amountInput" value="0"
                                oninput="this.form.amountRange.value=this.value" id="outputRange" disabled />
                        </div>
                    </div>
                    <br>
                    <p>
                        <span>A ideia geral dessa abordagem é a partir de um modelo estatístico definido pelos dados
                            disponibilizados, gerar dados sintéticos que correspondem a tal. <br>
                            Modelo Estatístico: Gaussiano.</span>
                    </p>
                </div>
            </section>
            <input type="radio" name="accordion" id="acc-close" />
        </nav>
    </form>
</div>
{% endblock %}